.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif; /* Fuente moderna */
  background-color: #f8f9fa;
}


.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #ff5f6d, #ffc3a0); /* Gradiente suave de colores cálidos */
  padding: 10px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px 0 0 10px; /* Bordes redondeados para la sidebar */
}

.sidebar:hover {
  transform: translateX(-15px); /* Un pequeño movimiento para hacerlo interactivo */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  letter-spacing: 0.5px;
}

.sidebar a:hover {
  background-color: #4e0097; /* Un púrpura más oscuro */
  color: #fffbf0; /* Blanco cálido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave al hacer hover */
}

main {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  overflow-y: auto;
  background: linear-gradient(180deg, #ffffff, #f8f9fa); /* Fondo degradado para dar más profundidad */
}

main h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05); /* Sombra para darle profundidad */
}

main p {
  color: #555;
  font-size: 17px;
  line-height: 1.6;
}

button {
  background-color: #6a11cb;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Sombra para crear un efecto de profundidad */
}

button:hover {
  background-color: #4e0097;
  transform: translateY(-3px); /* Efecto de desplazamiento al hacer hover */
}


